<div class="app-landing">
<nav class="navbar">
  <div class="logo">BookVerse</div>

  <ul class="menu">
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/sobre">Sobre nosotros</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Registrarse</a></li>
  </ul>
</nav>

<header class="hero">
  <h1>Bienvenido a BookVerse</h1>
  <p>Tu biblioteca digital favorita</p>
  <button routerLink="/catalogo">Explorar libros</button>
</header>
</div>
