<div class="login-container">

  <h1>Iniciar sesión</h1>

  <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">

    <label>Email</label>
    <input type="email" formControlName="correo" placeholder="Correo">
    
    <label>Contraseña</label>
    <input type="password" formControlName="contrasena" placeholder="Contraseña">
    
    <button type="submit">Entrar</button>
  </form>

  <p class="register-link">
    ¿No tienes cuenta?
    <a routerLink="/register">Regístrate aquí</a>
  </p>

</div>
